
  <footer>
    <div class="container">
      <div class="col-lg-12">
        <div class="line-dec"></div>

        <p>Copyright © 2019-2024. All rights reserved. Brought to you by Digital Media Hawk with ❤️
        
        </p>
      </div>
    </div>
  </footer>

  <div class="pre-header pre-header-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="left-info">
            <ul>
              <li><a href="/privacy-policy" target="_blank">Privacy Policy</a></li>
              <li><a href="/disclaimer" target="_blank">Disclaimer</a></li>
              <li><a href="/t&c" target="_blank">Terms & Conditions</a></li>
              <li><a href="/refund-policy" target="_blank">Refund Policy</a></li>
              <li><a href="https://digitalmediahawk.com/#about" target="_blank">About Us</a></li>
              <li><a href="mailto:contact@digitalmediahawk.com"><i class="fa fa-envelope"></i>contact@digitalmediahawk.com</a></li>
              <li><a href="https://wa.me/+918383862320" target="_blank"><i class="fa fa-phone"></i>+91 83838 62320</a></li> 
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>


</script>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
 <script>
   $( document ).ready(function() {
    var success = "<%= success %>";
    var error = "<%= error %>";
    console.log(error);
    if(error || success){
      $('#modal-button').click();
      console.log("check");
      }
    });
 </script>
 <script>
  function startCountdown(targetDate, elementId, link, price) {
    // Set the date we're counting down to
    var countDownDate = new Date(targetDate).getTime();
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get today's date and time
      var now = new Date().getTime();
        
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
        
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
        // Output the result in an element with id
      const countdownElement = document.getElementById(elementId);
      countdownElement.innerHTML =  `Offer ends in ${days}d ${hours}h ${minutes}m ${seconds}s`;

      // document.getElementById("hour-number-cta").innerHTML =  hours;
    
      // document.getElementById("minute-number-cta").innerHTML = minutes ;
    
      // document.getElementById("second-number-cta").innerHTML = seconds;
        
      // If the count down is over, write some text 
      if (distance < 0) {
        clearInterval(x);
        document.getElementById(elementId).innerHTML = "";
        // document.getElementById(link).href = "javascript:void(0);";
        // document.getElementById(price).innerHTML = "499";
      }
    }, 1000);
  }

  // Start the countdown for the first div
  startCountdown("Jan 20, 2024 20:00:00", "timer1", "a-link1", "price-change1");

  // Start the countdown for the second div
  startCountdown("Jan 20, 2024 20:00:00", "timer2", "a-link2", "price-change2");

</script>
  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/custom.js"></script>
  <script src="assets/js/custom1.js"></script>
  </body>
</html>
