<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mail Sent - Digital Media Hawk</title>
    <meta name="author" content="Digital Media Hawk">
    <meta name="title" content="Digital Media Hawk - Mail Sent">
    <meta name="description" content="This page is showing because we have sent you Mail Successfully. "/>
    

      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-09B745BQJB"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
  
        gtag('config', 'G-09B745BQJB');
      </script>

    <!-- adding canonical url -->
    <link rel="canonical" href="https://course.digitalmediahawk.com">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/style.css">
    
    <!-- Meta Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '865197051269126');
      fbq('track', 'PageView');
    </script>
    <noscript>
      <img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=865197051269126&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Meta Pixel Code -->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header id="nav" class="header-area">  
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="assets/images/logo-black.png" alt="" style="max-width: 152px;">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li class="scroll-to-section"><a href="https://digitalmediahawk.com" target="_blank">Home</a></li>
                      <li class="scroll-to-section"><a href="#top">Course</a></li>
                      <li class="scroll-to-section"><a href="#cc">Course Content</a></li>
                      <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
     
  <div class="page-heading" id="buttonCheck">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 align-self-center responsive">
          <div class="caption  header-text">
            <div class="line-dec"></div>
            <h1>Mail Sent <em>Successfully</em></h1>
            <div class="line-dec"></div>
            <p class="para-responsive">We have sent you the brochure 😀. Hope you will join our course 😳. Want to talk more about this course? Click Below!</p>
            <div class="main-button"><a href="/">Home</a></div>
            <span> </span>
            <div class="second-button"><a href="tel:+918383862320">Contact Us</a></div>
          </div>
        </div>
        <div class="col-lg-5">
          <img src="assets/images/mail-sent.gif" alt="">
        </div>
      </div>
    </div>
  </div>


  <%-include("./partials/footer")%>