<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.png">
    <title>Advanced Digital Marketing Course | 100% Job Assistance | Enrol Now</title>
    <meta name="author" content="Digital Media Hawk">
    <meta name="title" content="Advanced Digital Marketing Course | 100% Job Assistance | Enrol Now">
    <meta name="description" content="🔥 Join our Advanced Digital Marketing Course with 100% Job Assistance. Explore Industry Recognized 20+ modules full packed with practical approach. 😍👍"/>

<%-include("./partials/header")%>


  <!-- ***** Header Area End ***** -->
  <a href="#top" id="scroll-up">
    <div class="fab-container">

      <div class="button iconbutton">
      
        <i class="fa-solid fa-arrow-up"></i>
      
      </div>
      
    </div>
  </a>

<c-hero>
    <div class="content-banner">
        <div class="container">
            <h1>Create more with Buffer AI Assistant</h1>
            <p class="banner-p">With the Buffer AI Assistant you can generate ideas in just a click and repurpose your existing content dozens of times, helping you grow your engagement across all social platforms. Watch our 90 second intro to see how it works in Buffer ⬇️</p>
            <div class="row banner-row">
                <div class="col f-1">
                    <a href="#" class="b1"><i class="fa-solid fa-cart-shopping"></i> Enroll Now </a>
                </div>
                <div class="col f-2">
                    <a href="#" class="b2"><i class="fa-regular fa-circle-play"></i> Watch Video</a>
                </div>
            </div>
            <div class="head-content">
                <h2>Create better content faster, with the help of Buffer AI Assistant.</h2>
            </div>
            <div class="key-point">
              <div class="row">
                <div class="col-5 col-md-2 perks">
                  <i class="fa-solid fa-2x fa-star"></i>
                  <h6>One Time</h6>
                  <p>Launch Offer</p>
                </div>
                <div class="col-5 col-md-2 perks">
                  <i class="fa-solid fa-2x fa-book"></i>
                  <h6>Content</h6>
                  <p>10+ Modules</p>
                </div>
                <div class="col-5 col-md-2 perks">
                  <i class="fa-solid fa-2x fa-clock"></i>
                  <h6>Duration</h6>
                  <p>4+ Hours</p>
                </div>
                <div class="col-5 col-md-2 perks">
                  <i class="fa-solid fa-2x fa-gift"></i>
                  <h6>Bonuses</h6>
                  <p>$456</p>
                </div>
              </div>
            </div>
        </div>
    </div>     
</c-hero>

<c-highlight>
  <div class="highlight">
    <div class="container">
      <h2>Using these strategies, I have -</h2>
      <div class="highlight-point">
        <div class="row">
          <div class="col-10 col-md-5 perks">
            <i class="fa-regular fa-lightbulb"></i>
            <h4>Brainstorm ideas</h4>
            <p>Relevant post ideas at the click of a button.</p>
          </div>
          <div class="col-10 col-md-5 perks">
            <i class="fa-regular fa-lightbulb"></i>
            <h4>Brainstorm ideas</h4>
            <p>Relevant post ideas at the click of a button.</p>
          </div>
          <div class="col-10 col-md-5 perks">
            <i class="fa-regular fa-lightbulb"></i>
            <h4>Brainstorm ideas</h4>
            <p>Relevant post ideas at the click of a button.</p>
          </div>
          <div class="col-10 col-md-5 perks">
            <i class="fa-regular fa-lightbulb"></i>
            <h4>Brainstorm ideas</h4>
            <p>Relevant post ideas at the click of a button.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</c-highlight>

<c-wyl>
  <div class="wyl-banner">
    <div class="container wyl">
      <h2>What will you learn in this course?</h2>
      <div class="row wyl-flex justify-content-center">
        <div class="col-lg-6 col-md-12">
          <div class="wyl-body">
            <ul>
              <li>Proven new R.A.C.E.U.P Framework to create viral reels and stop wasting time on gut-feel and guesswork</li>
              <li>Research content ideas using artificial intelligence and discover an untapped goldmine of content ideas
              </li>
              <li>Learn with Instagram Reels Planner, an Excel sheet that will help you predict and understand your content better ( Trust me, this is BIG )</li>
              
              <li>50+ Tutorials for everyone out there. Be it personal brands, business brands, service-based or product-based industry</li>
              <li>
                Create captions using artificial intelligence in few clicks without hiring expensive copywriters</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <img src="assets/images/create-ideas.gif" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</c-wyl>


<section-extra id="cc">
  <div class="container extra">
    <div class="row extra-flex">
      <div class="col-lg-6 col-md-6">
        <img src="assets/images/cc-section.webp" alt="" class="img-fluid">
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="extra-caption">
          <p>This is not it.</p>
        </div>
        <div class="extra-body">
          <h2 class="fs1 fw-bold mb-5">We are preparing you for the future.</h2>
          <p>The program is ideal for college students, working professionals in sales/marketing roles, or those aspiring to a career in the marketing domain. </p>
        </div>
      </div>
    </div>
    <div class="row extra-grid">
       <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12">
         <div class="extra-grid-inner">
           <img src="assets/images/extra1.avif" alt="">
           <h3>Scheduling</h3>
           <p class="wcu-p">Autopublish your posts, carousels, and Reels directly to Instagram</p>
         </div>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12">
         <div class="extra-grid-inner">
           <img src="assets/images/extra1.avif" alt="">
           <h3>Scheduling</h3>
           <p class="wcu-p">Autopublish your posts, carousels, and Reels directly to Instagram</p>
         </div>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12">
         <div class="extra-grid-inner">
           <img src="assets/images/extra1.avif" alt="">
           <h3>Scheduling</h3>
           <p class="wcu-p">Autopublish your posts, carousels, and Reels directly to Instagram</p>
         </div>
       </div>
     </div>
  </div>
</section-extra>

<certificate>
  <div class="certificate">
    <div class="container">
      <h2 class="text-center">Get Certified By Digital Media Hawk</h2>
      <p class="text-center">Publishing content on all of your channels shouldn’t be a time-drain. Plan and publish on every channel in one simple-to-use dashboard.</p>
      <img src="assets/images/certificate.webp" alt="" class="img-fluid">
    </div>
  </div>
</certificate>

<meet-trainer>
  <div class="meet">
    <div class="container">
      <div class="row meet-flex">
        <div class="col meet-col">
          <img src="assets/images/meet.webp" class="img-fluid" alt="">
        </div>
        <div class="col-12 col-md-12 col-lg-6 meet-col">
          <div class="extra-caption mt-5">
            <p>Know Your Trainer</p>
          </div>
          <h4>Sorav Jain <a href=""><i class="fa-brands fa-instagram"></i></a></h4>
          <p>Sorav Jain is the Founder of Echovme and Digital Scholar, India’s best digital marketing agency and institute respectively. Sorav will train you with NEW strategies and gameplan to understand the R.A.C.E.U.P framework to create viral reels that can change your life forever. He’ll lay the fundamentals right from basics to advanced in 50+ high definition video tutorials for you in developing the content for reels and editing and polishing it in the entire modules in pre-done videos format that will make you an awesome creator.</p>
        </div>
      </div>
    </div>
  </div>
</meet-trainer>


<section-faq>
  <div class="container faq">
    <h2 class="text-center fs-1 fw-bold">FAQ'S</h2>
    <div class="accordion" id="accordionExampleY">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
              <span>1</span>Do you assist with a Job after completing the Digital Marketing Course?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              Yes, there are many upcoming jobs in the marketing domain. We will suggest you for upcoming jobs in digital marketing, tourism, hospitality, the real estate sector, and education institutes and you can approach there for an Interview. .
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              <span>2</span>Do I need a computer system?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              Yes, you must have a good-performing computer system. It is helpful to work and learn anytime you wish.             </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <span>3</span>
              Do I get practical exposure to marketing?            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              Yes definitely. We have designed our course on theoretical and practical approaches. We will be working on live projects and experiencing the key factors of marketing. Also, you will be taught real business case studies for a better understanding of the marketing domain.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <span>4</span>
              Do I get a certificate?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">
              After completing the advanced digital marketing course, assignments, and exams you will be offered a recognized certificate from Digital Media Hawk company.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <span>5</span>
              I'm a Business Owner. How digital marketing course can help me?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
              Digital Marketing course is beneficial for every business owner. You can execute the marketing strategies and create more awareness on social media, build a brand, and generate quality leads for more sales online. 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <span>6</span>
              I'm pursuing a UG course. Can I join this course?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
            <div class="accordion-body">
              There are no criteria for learning this marketing course. You can join this course while pursuing UG/PG course.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <span>7</span>
              What happens If I miss any class?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
            <div class="accordion-body">
              No need to worry. You can join or retake the missed class. You must notify the marketing trainer and they will arrange a re-take class for you. 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <span>8</span>
              Who can Join the Digital Marketing Course program?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
            <div class="accordion-body">
              Everyone can join the Digital Marketing Course Programme. It is more helpful for persons who are working executives, seeking jobs or freelancing, developing or starting a new career, and business owners who wish to scale their business online. 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <span>9</span>
              What are the eligibility criteria for this course?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNine">
            <div class="accordion-body">
              You must have a 12th pass-out certificate. Also, if you've completed the UG/PG Course, then you must join this course.
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</section-faq>

<section-contact>
  <div class="contact-us section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-us-content">
            <div class="row">
              <div class="col-lg-4">
                <div id="map">
                  <a href="https://goo.gl/maps/oXe81jqD5Fkf84WH8" target="_blank">
                    <img src="assets/images/map.webp" width="100%" height="670px" frameborder="0" style="border:0; border-radius: 23px;" allowfullscreen=""></img>
                  </a>
                </div>
              </div>
              <div class="col-lg-8">
                <form id="contact-form" action="/" method="post">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="section-heading">
                        <h2>Contact Us For <span>Digital Marketing Course</span></h2>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="name" name="name" id="name" placeholder="Your Full Name..." autocomplete="on" required>
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="businessName" name="businessName" id="businessName" placeholder="Business Name..." autocomplete="on" required>
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your E-mail..." required="">
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="phone" name="Phone" id="Phone" pattern="[6-9]{1}[0-9]{9}" placeholder="Phone Number..." autocomplete="on" required>
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <input type="address" name="address" id="address" placeholder="Your Address..." autocomplete="on" required>
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <textarea name="message" id="message" placeholder="Your Message"></textarea>
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button data-ani="bounceOutRight" type="submit" id="form-submit" class="orange-button">Chalo Udh Chalein</button>
                      </fieldset>
                    </div>
                  </div>
                </form>
                <div class="more-info">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="info-item">
                        <i class="fa fa-phone"></i>
                        <h4><a href="tel:+918383862320">+91 83838 62320</a></h4>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="info-item">
                        <i class="fa fa-envelope"></i>
                        <h4><a href="mailto:contact@digitalmediahawk.com">contact@digitalmediahawk.com</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section-contact>


<%-include("./partials/footer")%>


