<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.png">
    <title>Advanced Digital Marketing Course | 100% Job Assistance | Enrol Now</title>
    <meta name="author" content="Digital Media Hawk">
    <meta name="title" content="Advanced Digital Marketing Course | 100% Job Assistance | Enrol Now">
    <meta name="description" content="🔥 Join our Advanced Digital Marketing Course with 100% Job Assistance. Explore Industry Recognized 20+ modules full packed with practical approach. 😍👍"/>

  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-09B745BQJB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-09B745BQJB');
    </script>

<%-include("./partials/header")%>


  <!-- ***** Header Area End ***** -->
  <a href="#top" id="scroll-up">
    <div class="fab-container">

      <div class="button iconbutton">
      
        <i class="fa-solid fa-arrow-up"></i>
      
      </div>
      
    </div>
  </a>

<section-header>
  <div class="main-banner" id="top">
    <div class="container" style="padding-top: 30px !important;" id="navCheck">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center" style="z-index: 1; flex: 1 1 0%;" >
          <div class="container">
            <div class="caption header-text">
              <div class="line-dec"></div>
              <h1><span style="color: black; font-weight: 700;" id="words">Best Digital Marketing Course in Rohtak</span></h1>
              <div class="line-dec"></div>
              <p style="color: black; font-size: 18px;">Master the basics of digital marketing with our advanced and industry-recognized marketing methods. There are 15+ modules to explore, all created by Hawk Trainers, packed full of practical exercises and real-world examples to help you to turn knowledge into action. </p>
              <span></span>
              <div class="second-button"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeZfMk3A1oX8qaAzpRPFJmr_UdAjxv6_m3jMe7-YQ9uAcsqKg/viewform?embedded=true" target="_blank">Apply Now</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6" style="z-index: 1;">
            <img src="assets/images/hero-section.png" alt="" class="img-fluid img-hero">
        </div>
      </div>
    </div>
  </div>
</section-header>

<section-specification>
  <div class="container spec-section">
    <h2 class="text-center display-5 fw-bold">Digital Marketing Course Specifications</h2>
    <p class="spec-p text-center mt-5">
      This Digital Marketing Course is designed to impart comprehensive and contemporary knowledge with a balance of theoretical discussions and practical applications.
    </p>
  </div>
  <div class="container-fluid universal-margin p-0">
    <img src="assets/images/spec-section.svg" class="img-fluid" alt="">
  </div>
  <div class="container universal-margin specification">
    <div class="row spec-margin spec-block">
      <div class="col-lg-6 col-md-6">
        <h3 class="fs-2 c1">6-months program</h3>
        <p class="spec-p mt-5">
          In the 6-month program, there will be two sessions on weekdays and weekends. Sessions can be scheduled for the timely completion of the program. 
        </p>
      </div>
      <div class="col-lg-6 col-md-6 img-spec">
        <img src="assets/images/spec-img-1.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="row spec-margin spec-block-reverse mt-5">
      <div class="col-lg-6 col-md-6">
        <h3 class="fs-2 c2 text-primary">A balanced combination of Theoretical and Practical Knowledge</h3>
        <p class="spec-p mt-5">
          The teaching approach will be highly interactive including lectures, case discussions, assignments, term papers, project work, etc. 
        </p>
      </div>
      <div class="col-lg-6 col-md-6 img-spec">
        <img src="assets/images/spec-img-2.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="row spec-margin spec-block mt-5">
      <div class="col-lg-6 col-md-6">
        <h3 class="fs-2 c3">Focus on real Business use cases</h3>
        <p class="spec-p mt-5">
          Marketing is always interlinked with Business functions. The program is designed to focus on real business problems and the methodology to solve these issues.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 img-spec">
        <img src="assets/images/spec-img-3.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="row spec-margin spec-block-reverse mt-5">
      <div class="col-lg-6 col-md-6">
        <h3 class="fs-2 c4">Digital Media Hawk - Marketing Certificate</h3>
        <p class="spec-p mt-5">
          Successful participants who have cleared the exam will also be accorded with “Certificate of Completion”.        </p>
      </div>
      <div class="col-lg-6 col-md-6 img-spec">
        <img src="assets/images/spec-img-4.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section-specification>

<section-cc id="cc">
  <div class="container cc">
    <div class="row cc-flex">
      <div class="col-lg-6 col-md-6">
        <div class="cc-caption">
          <p>Course Content</p>
        </div>
        <div class="cc-body">
          <h2 class="fs1 fw-bold mb-5">Build your new Career in <br> Digital Marketing</h2>
          <p>The program is ideal for college students, working professionals in sales/marketing roles, or those aspiring to a career in the marketing domain. </p>
          <div class="cc-link">
            <a data-bs-toggle="modal" data-bs-target="#brochure" class="fs-5">Download Brochure <i class="fa-solid fa-arrow-right"></i></a>
          </div>
            <!-- Modal -->
          <div class="modal fade" id="brochure" tabindex="-1" aria-labelledby="brochure" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content align-items-center">
                <div class="modal-header">
                  <h4 class="modal-title text-center" id="brochure">Download <span>Brochure</span></h4>
                </div>
                <div class="modal-body">
                  <form id="contact-form" action="/" method="post">
                    <div class="row">
                      <div class="col-lg-6">
                        <fieldset>
                          <input type="name" name="name" id="name" placeholder="Your Full Name..." autocomplete="on" required>
                        </fieldset>
                      </div>
                      <div class="col-lg-6">
                        <fieldset>
                          <input type="phone" name="Phone" id="Phone" pattern="[6-9]{1}[0-9]{9}" placeholder="Phone Number..." autocomplete="on" required>
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your E-mail..." required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <p class="brochure-note">**Brochure will be sent to you given mail id.</p>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <button data-ani="bounceOutRight" type="submit" id="form-submit" class="orange-button">Submit</button>
                        </fieldset>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <img src="assets/images/cc-section.png" alt="" class="img-fluid">
      </div>
    </div>

    <div class="row cc-grid">
     <% slides.forEach(function(slide,i) { %>
      <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 col-6">
        <div class="cc-grid-inner">
          <img src="<%=slideImg[i]%>" alt="" class="img-fluid">
          <h3><%=slide%></h3>
          <!-- <p class="wcu-p">Autopublish your posts, carousels, and Reels directly to Instagram</p> -->
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section-cc>

<section-wsl>
  <div class="container wsl-section">
    <h2 class="text-center fs-1 fw-bold">Who should learn <span>Digital Marketing</span> ?</h2>
    <p class="wsl-p text-center mt-5">
      The Advanced Digital Marketing Course will equip participants with a strong foundation in marketing domain or build a new career. 
    </p>
    <div class="wsl-grid">
      <div class="row row-cols-1 row-cols-lg-4 wsl-grid-flex">
        <div class="col">
          <div class="card">
            <img src="assets/images/wsl1.png" class="card-img-top img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title my-3">College Students</h5>
              <p>College students wishing to broaden their perspective with digital marketing knowledge and enhace your skills for future opportunities.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/wsl2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title my-3">Job Seekers</h5>
              <p>Improving your digital knowledge can help you find a job, get promoted, do freelancing, or start a new career. </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/images/wsl3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title my-3">Working Professionals</h5>
              <p>Working Professionals desiring to enhance their efficiency with an understanding of digital marketing.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section-wsl>

<section-wcu>
  <div class="container-fluid wcu img-fluid">
    <div class="wcu-section">
      <div class="container">
        <div class="heading-wcu">
          <h2 class="text-center fs-1 fw-bold">Why you choose <span>Digital Media Hawk</span> ?</h2>
          <p class="wcu-p mt-5">Digital Media Hawk, has been a leader in the field of marketing. We offer disciplinary learning and research marketing programs to ensure that you are aimed at advancing fundamental understanding to solve real-life problems. </p>
        </div>
      </div>
      <div class="overlay-play">
        <img class="wcu-img" src="assets/images/wcu-section.avif" alt="" class="img-fluid">
        <a href="http://youtube.com" target="_blank"><i class="fa fa-play"></i></a>
      </div>
    </div>
  </div>
</section-wcu>

<section-batch>
  <div class="container batch">
    <div class="row batch-flex">
      <div class="col-lg-6 col-md-6">
        <div class="batch-body">
          <!-- <h2 class="fs1 fw-bold mb-5">Small Batch Sizes to Make Training More Interactive</h2> -->
          <ul>
            <li>Small Batch Sizes</li>
            <li>100% Job Assistance</li>
            <li>Lifetime Free Re-Take Classes</li>
            <li>Real Business Case Studies</li>
            <li>Learn With Live Projects</li>
            <li>Learn From Marketing Professionals</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <img src="assets/images/batch-section.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section-batch>

<section-trainer>
  <div class="container-fluid trainer img-fluid">
    <div class="trainer-design-left"></div>
    <div class="trainer-design-right"></div>
    <h2 class="text-center fs-1 fw-bold"><span>Our Course Instructors</span></h2>
    <p class="trainer-p text-center mt-5">
      This programme has been created by Industry Experts with extensive marketing and development experience which will help you to achieve your goals.    </p>
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-4 trainer-flex">
        <div class="col trainer-position">
          <div class="card trainer-card mt-2 mb-3">
            <div class="card-up aqua-gradient"></div>
            <div class="avatar mx-auto white">
              <img src="assets/images/trainer-2.jpg" class="rounded-circle img-fluid"
                alt="woman avatar">
            </div>
            <div class="card-body text-center">
              <h4 class="card-title">Vikas Choudhary <a href="https://www.linkedin.com/in/vikash-choudhary-aba567114/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></h4>
              <p class="lead">- Marketing Professional -</p>
              <!-- <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
                adipisci</p> -->
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card trainer-card mt-2 mb-3">
            <div class="card-up aqua-gradient"></div>
            <div class="avatar mx-auto white">
              <img src="assets/images/trainer-1.jpg" class="rounded-circle img-fluid"
                alt="woman avatar">
            </div>
            <div class="card-body text-center">
              <h4 class="card-title">Deepak Kaushik <a href="https://www.linkedin.com/in/kd-deepak/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></h4>
              <p class="lead">- Marketing Professional -</p>
              <!-- <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
                adipisci Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
                adipisci</p> -->
            </div>
          </div>
        </div>
        <div class="col trainer-position">
          <div class="card trainer-card mt-2 mb-3">
            <div class="card-up aqua-gradient"></div>
            <div class="avatar mx-auto white">
              <img src="assets/images/trainer-3.jpg" class="rounded-circle img-fluid"
                alt="woman avatar">
            </div>
            <div class="card-body text-center">
              <h4 class="card-title">Sahiba Khurana <a href="https://www.linkedin.com/in/iamsahibakhurana/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></h4>
              <p class="lead">- IT Engineer & Developer -</p>
              <!-- <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, 
                adipisci</p> -->
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</section-trainer>

<section-faq>
  <div class="container faq">
    <h2 class="text-center fs-1 fw-bold">FAQ'S</h2>
    <div class="accordion" id="accordionExampleY">
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
              <span>1</span>Do you assist with a Job after completing the Digital Marketing Course?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              Yes, there are many upcoming jobs in the marketing domain. We will suggest you for upcoming jobs in digital marketing, tourism, hospitality, the real estate sector, and education institutes and you can approach there for an Interview. .
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              <span>2</span>Do I need a computer system?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              Yes, you must have a good-performing computer system. It is helpful to work and learn anytime you wish.             </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <span>3</span>
              Do I get practical exposure to marketing?            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              Yes definitely. We have designed our course on theoretical and practical approaches. We will be working on live projects and experiencing the key factors of marketing. Also, you will be taught real business case studies for a better understanding of the marketing domain.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <span>4</span>
              Do I get a certificate?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
            <div class="accordion-body">
              After completing the advanced digital marketing course, assignments, and exams you will be offered a recognized certificate from Digital Media Hawk company.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <span>5</span>
              I'm a Business Owner. How digital marketing course can help me?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
            <div class="accordion-body">
              Digital Marketing course is beneficial for every business owner. You can execute the marketing strategies and create more awareness on social media, build a brand, and generate quality leads for more sales online. 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <span>6</span>
              I'm pursuing a UG course. Can I join this course?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
            <div class="accordion-body">
              There are no criteria for learning this marketing course. You can join this course while pursuing UG/PG course.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <span>7</span>
              What happens If I miss any class?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
            <div class="accordion-body">
              No need to worry. You can join or retake the missed class. You must notify the marketing trainer and they will arrange a re-take class for you. 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <span>8</span>
              Who can Join the Digital Marketing Course program?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
            <div class="accordion-body">
              Everyone can join the Digital Marketing Course Programme. It is more helpful for persons who are working executives, seeking jobs or freelancing, developing or starting a new career, and business owners who wish to scale their business online. 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <span>9</span>
              What are the eligibility criteria for this course?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNine">
            <div class="accordion-body">
              You must have a 12th pass-out certificate. Also, if you've completed the UG/PG Course, then you must join this course.
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</section-faq>

<section-contact>
  <div class="contact-us section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-us-content">
            <div class="row">
              <div class="col-lg-4">
                <div id="map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d783.6923616934386!2d76.58271744042847!3d28.888107033384507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d85bedb117785%3A0x526f411c655f95c8!2sDigital%20Media%20Hawk!5e0!3m2!1sen!2sin!4v1671446933140!5m2!1sen!2sin" width="100%" height="670px" frameborder="0" style="border:0; border-radius: 23px;" allowfullscreen=""></iframe>
                </div>
              </div>
              <div class="col-lg-8">
                <form id="contact-form" action="/" method="post">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="section-heading">
                        <h2>Contact Us For <span>Digital Marketing Course</span></h2>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="name" name="name" id="name" placeholder="Your Full Name..." autocomplete="on" required>
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="businessName" name="businessName" id="businessName" placeholder="Business Name..." autocomplete="on" required>
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your E-mail..." required="">
                      </fieldset>
                    </div>
                    <div class="col-lg-6">
                      <fieldset>
                        <input type="phone" name="Phone" id="Phone" pattern="[6-9]{1}[0-9]{9}" placeholder="Phone Number..." autocomplete="on" required>
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <input type="address" name="address" id="address" placeholder="Your Address..." autocomplete="on" required>
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <textarea name="message" id="message" placeholder="Your Message"></textarea>
                      </fieldset>
                    </div>
                    <div class="col-lg-12">
                      <fieldset>
                        <button data-ani="bounceOutRight" type="submit" id="form-submit" class="orange-button">Chalo Udh Chalein</button>
                      </fieldset>
                    </div>
                  </div>
                </form>
                <div class="more-info">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="info-item">
                        <i class="fa fa-phone fa-flip"></i>
                        <h4><a href="tel:+918383862320">+91 83838 62320</a></h4>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="info-item">
                        <i class="fa fa-envelope fa-flip"></i>
                        <h4><a href="mailto:contact@digitalmediahawk.com">contact@digitalmediahawk.com</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section-contact>


  <%-include("./partials/footer")%>