<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/x-icon" href="assets/images/favicon.png">
  <title>Master Advanced Digital Marketing Course | Gain Marketing Expertise</title>
  <meta name="author" content="Digital Media Hawk">
  <meta name="title" content="Master Advanced Digital Marketing Course | Gain Marketing Expertise">
  <meta name="description"
    content="💡Enroll in our advanced digital marketing course to gain expertise in Marketing, Strategies, Consumer Behaviour, Advertising, and more. Get certified now!" />

<!-- header start -->


      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-09B745BQJB"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
  
        gtag('config', 'G-09B745BQJB');
      </script>

    <!-- adding canonical url -->
    <link rel="canonical" href="https://course.digitalmediahawk.com">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/style.css">
    
<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '538025233459252');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=538025233459252&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header id="nav" class="header-area">  
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo">
                        <img src="assets/images/logo-black.png" alt="logo" style="max-width: 152px;">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li class="scroll-to-section"><a href="/" target="_blank">Home</a></li>
                      <li class="scroll-to-section"><a href="#top" class="active">Course</a></li>
                      <li class="scroll-to-section"><a href="#cc">Course Content</a></li>
                      <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
      
<!-- header end -->


  <!-- ***** Header Area End ***** -->
  <a href="#top" id="scroll-up">
    <div class="fab-container">

      <div class="button iconbutton">

        <i class="fa-solid fa-arrow-up"></i>

      </div>

    </div>
  </a>

  <c-hero>
    <div class="content-banner">
      <div class="container">
        <h1>Skyrocket your Career and Business with Digital Marketing Expertise</h1>
        <p class="banner-p">Leap into the future of online presence. Learn industry-recognized methodologies and grow
          your business independently. Get certified and prove your expertise in the competitive employee market ⬇️.</p>
        <div class="row banner-row">
          <div class="col f-1">
            <a href="https://forms.gle/eokxqTXECwA7XR9G9"
              target="_blank" class="b1"><i class="fa-solid fa-cart-shopping"></i> Enroll Now </a>
          </div>
          <div class="col f-2">
            <button type="button" class="b2 video-btn" data-bs-toggle="modal"
              data-src="https://www.youtube.com/embed/QcTv6nGoCM4?si=lSD4NkRvPKPRMMe2" data-bs-target="#video"><i
                class="fa-regular fa-circle-play"></i> Watch Video</button>
          </div>
        </div>
        <!-- <div class="modal fade" id="video" tabindex="-1" aria-labelledby="video" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  
                  <div class="modal-body">
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QcTv6nGoCM4?si=lSD4NkRvPKPRMMe2" allowfullscreen></iframe>
                    </div>
                  </div>

                </div>
              </div>
            </div> -->


        <!-- Modal -->
        <div class="modal modal-video fade" id="video" tabindex="-1" role="dialog" aria-labelledby="video"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">


              <div class="modal-body">
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></span> -->
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                  <iframe class="embed-responsive-item" src="" id="video1" allowscriptaccess="always"
                    allow="autoplay"></iframe>
                </div>


              </div>

            </div>
          </div>
        </div>


        <div class="head-content">
          <h2>Solidify your online presence with effective Digital Marketing tools</h2>
        </div>
        <div class="key-point">
          <div class="row">
            <div class="col-5 col-md-2 perks">
              <i class="fa-solid fa-2x fa-star"></i>
              <h6>Free SEO</h6>
              <h6>Tools</h6>
            </div>
            <div class="col-5 col-md-2 perks">
              <i class="fa-solid fa-2x fa-book"></i>
              <h6>Free Content</h6>
              <h6>Marketing Tools</h6>
            </div>
            <div class="col-5 col-md-2 perks">
              <i class="fa-solid fa-2x fa-clock"></i>
              <h6>Duration</h6>
              <h6>3 Months</h6>
            </div>
            <div class="col-5 col-md-2 perks">
              <i class="fa-solid fa-2x fa-video"></i>
              <h6>Recorded</h6>
              <h6>Classes</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </c-hero>



  <!-- mobile view -->
  <!-- <div class="persistent-cta-mobile">
    <div class="cta-content-left">
      <div class="margin-bottom margin-custom-2">
        <div class="cta-pricing">Master the Basics of Marketing with Our Foundation Course! @  <span id="price-change1">₹49</span> <span class="cta-pricing-strikethrough">₹1999</span>
        </div>
      </div>
      <div class="cta-start-date">
        <span id="timer1"></span>
      </div>
    </div>
    <a href="https://pages.razorpay.com/pl_MN9yHGEBwSBWnL/view" id="a-link1" class="cta-big-3 cta-p payment-button w-button">Sign&nbsp;Up</a>
  </div> -->

  <!-- desktop view -->
  <div class="container animated-button mt-5">
    <a href="https://rzp.io/l/lUembDD" id="a-link2" class="cta-big-3 hidden payment-button w-inline-block">
      <div>Enroll Now for Customize Digital Marketing Course from  <span id="price-change2">'10 May 2024'</span> <!--  <span class="strike-span"> ₹1999</span> --></div>
      <div id="expired" class="cta-text-small-4">
        <span id="timer2"></span>
      </div>
    </a>
  </div>

  <section-specification>
    <div class="container spec-section">
      <h2 class="text-center display-5 fw-bold">Digital Marketing Course Specifications</h2>
      <p class="spec-p text-center mt-5">
        This Digital Marketing Course is designed to impart comprehensive and contemporary knowledge with a balance of
        theoretical discussions and practical applications.
      </p>
    </div>
    <div class="container-fluid universal-margin p-0">
      <img src="assets/images/spec-section.svg" class="img-fluid" alt="Digital Marketing Course 2">
    </div>

    <div class="container universal-margin specification">
      <div class="row spec-margin spec-block">
        <div class="col-lg-6 col-md-6">
          <h3 class="fs-2 c1">3-months program</h3>
          <p class="spec-p mt-5">
            In this 3-month program, there will be two sessions on weekends Saturday and Sunday. Sessions will be of 2
            hours each. Sessions can be scheduled for the timely completion of the program.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 img-spec">
          <img src="assets/images/spec-img-1.webp" alt="Digital Marketing Course 3" class="img-fluid">
        </div>
      </div>
      <div class="row spec-margin spec-block-reverse mt-5">
        <div class="col-lg-6 col-md-6">
          <h3 class="fs-2 c2 text-primary">A balanced combination of Theoretical and Practical Knowledge</h3>
          <p class="spec-p mt-5">
            The teaching approach will be highly interactive including lectures, case discussions, assignments, term
            papers, project work, etc.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 img-spec">
          <img src="assets/images/spec-img-2.webp" alt="Digital Marketing Course 4" class="img-fluid">
        </div>
      </div>
      <div class="row spec-margin spec-block mt-5">
        <div class="col-lg-6 col-md-6">
          <h3 class="fs-2 c3">Focus on real Business use cases</h3>
          <p class="spec-p mt-5">
            Marketing is always interlinked with Business functions. The program is designed to focus on real business
            problems and the methodology to solve these issues.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 img-spec">
          <img src="assets/images/spec-img-3.webp" alt="Digital Marketing Course 5" class="img-fluid">
        </div>
      </div>
      <div class="row spec-margin-1 spec-block-reverse mt-5">
        <div class="col-lg-6 col-md-6">
          <h3 class="fs-2 c4">Digital Media Hawk - Marketing Certificate</h3>
          <p class="spec-p mt-5">
            Successful participants who have cleared the exam will also be accorded with “Certificate of Completion”.
          </p>
        </div>
        <div class="col-lg-6 col-md-6 img-spec">
          <img src="assets/images/spec-img-4.webp" alt="Digital Marketing Course 6" class="img-fluid">
        </div>
      </div>
    </div>
  </section-specification>


  <section-cc id="cc">
    <div class="container cc">
      <div class="row cc-flex">
        <div class="col-lg-6 col-md-6">
          <div class="cc-caption">
            <p>Course Content</p>
          </div>
          <div class="cc-body">
            <h2 class="fs1 fw-bold mb-5">Enroll into <br> Digital Marketing Course Programme</h2>
            <p>Master the basics of digital marketing with our advanced and industry-recognized marketing methods.</p>
            <div class="cc-link">
              <!-- write modal in data-bs-target to get this work -->
              <button class="offset fs-5" data-bs-toggle="modal" data-bs-target="#brochure">Download Brochure <i
                  class="fa-solid fa-arrow-right"></i></button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="brochure" tabindex="-1" aria-labelledby="brochure" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content align-items-center">
                  <div class="modal-header">
                    <h4 class="modal-title text-center" id="brochure">Download <span>Brochure</span></h4>
                  </div>
                  <div class="modal-body">
                    <form id="contact-form" action="/" method="post">
                      <div class="row">
                        <div class="col-lg-6">
                          <fieldset>
                            <input type="name" name="name" id="name" placeholder="Your Full Name..." autocomplete="on"
                              required>
                          </fieldset>
                        </div>
                        <div class="col-lg-6">
                          <fieldset>
                            <input type="phone" name="Phone" id="Phone" pattern="[6-9]{1}[0-9]{9}"
                              placeholder="Phone Number..." autocomplete="on" required>
                          </fieldset>
                        </div>
                        <div class="col-lg-12">
                          <fieldset>
                            <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*"
                              placeholder="Your E-mail..." required="">
                          </fieldset>
                        </div>
                        <div class="col-lg-12">
                          <p class="brochure-note">**Brochure will be sent to your given mail id.</p>
                        </div>
                        <div class="col-lg-12">
                          <fieldset>
                            <button data-ani="bounceOutRight" type="submit" id="form-submit"
                              class="orange-button">Submit</button>
                          </fieldset>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <img src="assets/images/cc-section.webp" alt="Digital Marketing Course 7" class="img-fluid">
        </div>
      </div>
    </div>
  </section-cc>

  <c-highlight>
    <div class="simple">
      <div class="container">
        <h2>You always find what you seek. Now tell us- </h2>
      </div>
    </div>
  </c-highlight>

  <c-wyl>
    <div class="wyl-banner">
      <div class="container wyl">
        <h2><span>What Do You Seek? </span></h2>
        <div class="row wyl-flex justify-content-center">
          <div class="col-lg-6 col-md-12">
            <div class="wyl-body">

              <ul class="task-list">
                <li class="task-list-item" v-for="task in tasks">
                  <label class="task-list-item-label">
                    <input type="checkbox">
                    <span>I want to boost my business and make my online presence felt.</span>
                  </label>
                </li>
                <li class="task-list-item" v-for="task in tasks">
                  <label class="task-list-item-label">
                    <input type="checkbox">
                    <span>I want to create my revenue-generating website or blogspot.</span>
                  </label>
                </li>
                <li class="task-list-item" v-for="task in tasks">
                  <label class="task-list-item-label">
                    <input type="checkbox">
                    <span>I want to learn online revenue and business automation.</span>
                  </label>
                </li>
                <li class="task-list-item" v-for="task in tasks">
                  <label class="task-list-item-label">
                    <input type="checkbox">
                    <span>I want to be a certified all-around Digital Marketing expert out of passion.</span>
                  </label>
                </li>
                <li class="task-list-item" v-for="task in tasks">
                  <label class="task-list-item-label">
                    <input type="checkbox">
                    <span>I seek better career opportunities and am looking forward to adding credibility.</span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <img src="assets/images/creative-gif.gif" alt="seek-gif" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </c-wyl>

  <section-shortTerm>
    <div class="container shortT">
      <h2 class="text-center fs-1 fw-bold">Explore our Powerful <br><span>One Day Live WorkShops</span></h2>
      <p class="wsl-p text-center mt-5">
        Here's a range of the most important, actionable, and interactive digital marketing short-courses by the Digital
        Media Hawk. Enroll now and choose any Digital Marketing Modules for your learnings.
      </p>

      <div class="shortT-grid">
        <div class="row gap-4 justify-content-around">
          <div class="short-grid col-lg-5 col-md-12">
            <div class="d-flex justify-content-between">
              <div class="tags">
                 <span class="btn btn-outline-primary">Trending</span> 
                <span class="btn btn-outline-primary">FREE</span>
              </div>
              <span class="btn-animation btn btn-danger">100% off</span>
            </div>
            <div class="content-data row mt-3">
              <div class="col content d-flex">
                <i class="icon fa-solid fa-clock"></i>
                <p class="content-p mx-2">2+ Hours Learning</p>
                <i class="icon icon-2 fa-solid fa-book"></i>
                <p class="content-p mx-2">3 Modules</p>
              </div>
            </div>
            <hr>
            <div class="row shortT-avatar">
              <div class="col-lg-3 col-md-3 avatar mx-auto white">
                <img src="assets/images/trainer-1.webp" class="rounded-circle img-fluid"
                  alt="Digital Marketing Course 17">
              </div>
              <div class="col-lg-9 col-md-9 para">
                <span class="mb-2">Marketing Foundation Course </span>
                <p class="mt-2">Our "marketing foundation course" is designed to help you understand the basics of marketing, marketing core concepts, and how to create effective marketing strategies for your business growth.</p>
              </div>
            </div>
            <div class="row review mt-3">
              <span class="stars">⭐⭐⭐⭐⭐</span>
              <span>Rated 4.8 out of 5 | 300+ Enrolled</span>
            </div>
            <div class="row price-short">
              <div class="col align-items-center">
                <span class="discount">FREE</span>
                <span class="actual">₹499</span>
              </div>
              <div class="col align-items-center">
                <div class="text-end">
                  <button type="button" class="effect effect-2 btn btn-primary btn-lg"><a class="text-white"
                      href="https://forms.gle/eokxqTXECwA7XR9G9" target="_blank">Enroll Now</a></button>
                </div>
              </div>
            </div>

          </div>
          <div class="short-grid col-lg-5 col-md-12">
            <div class="d-flex justify-content-between">
              <div class="tags">
                <!-- <span class="btn btn-outline-primary">Saturday</span> -->
                <span class="btn btn-outline-primary">Bestseller</span>
              </div>
              <span class="btn-animation btn btn-danger">50% off</span>
            </div>
            <div class="content-data row mt-3">
              <div class="col content d-flex">
                <i class="icon fa-solid fa-clock"></i>
                <p class="content-p mx-2">2+ Hours Learning</p>
                <i class="icon icon-2 fa-solid fa-book"></i>
                <p class="content-p mx-2">5 Modules</p>
              </div>
            </div>
            <hr>
            <div class="row shortT-avatar">
              <div class="col-lg-3 col-md-3 avatar mx-auto white">
                <img src="assets/images/trainer-1.webp" class="rounded-circle img-fluid"
                  alt="Digital Marketing Course 17">
              </div>
              <div class="col-lg-9 col-md-9 para">
                <span class="mb-2">Revenue Generation Mastery Course </span>
                <p class="mt-2">In this course, we'll address the importance of generating revenue through effective
                  copyright techniques, marketing strategies and advertising. We'll also cover some best practices for
                  engaging ads that get people excited about what you do.</p>
              </div>
            </div>
            <div class="row review mt-3">
              <span class="stars">⭐⭐⭐⭐⭐</span>
              <span>Rated 4.8 out of 5 | 300+ Enrolled</span>
            </div>
            <div class="row price-short">
              <div class="col align-items-center">
                <span class="discount">₹499</span>
                <span class="actual">₹999</span>
              </div>
              <div class="col align-items-center">
                <div class="text-end">
                  <button type="button" class="effect effect-2 btn btn-primary btn-lg"><a class="text-white"
                      href="https://rzp.io/l/6GJd97vy3" target="_blank">Enroll Now</a></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </section-shortTerm>

  <Testimonials>
    <div class="testimonials-bg">
      <h2 class="text-center display-5 fw-bold">Hear it from our <span>learners</span></h2>
  
      <section class="pt-5 pb-5">
        <div class="container">
          <div class="row row-cols-1 row-cols-md-3 g-4" data-masonry='{"percentPosition": true }'>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                      <blockquote class=" ">
    
                          <i class="fa fa-quote-right fa-2x color-q pull-right mt-3 mb-3" aria-hidden="true"></i>
                          <p class=" m-0 text-muted ">
                            Digital Media Hawk Institute: Their courses are  detailed, interactive, and practical & the best part is  that institute has amazing faculty with knowledgeable and experienced trainers / teachers that are accommodating too.. and the small class sizes allow for more individual focus.
                            Kudos to Digital Media Hawk faculty.
                          </p>
                          <footer class="blockquote-footer small mt-2 p-1">
                            <img src="assets/images/roshan_thakur.webp" class="img-fluid img-testimonial" alt="roshan_thakur">

                            <span class="small">&nbsp;&nbsp;Roshan Thakur [CMO],
                              <cite class="font-weight-bold"><a href="https://propertygoals.in/" target="_blank">Property Goals</a></cite>
                            </span>
                          </footer>
    
                      </blockquote>
                  </div>
              </div>
              </div>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                      <blockquote class=" ">
    
                          <i class="fa fa-quote-right fa-2x color-q pull-right mt-3 mb-3" aria-hidden="true"></i>
                          <p class=" m-0 text-muted ">
                            Enrolling in Digital Media Hawk's 3-month digital marketing course was a game-changer! The comprehensive curriculum, engaging instructors, and practical approach made learning an absolute pleasure. I gained invaluable insights and skills that have immensely boosted my understanding of digital marketing strategies. Highly recommend it for anyone looking to dive deep into this dynamic field.
                          </p>
                          <footer class="blockquote-footer small mt-2 p-1">
                            <img src="assets/images/akash_azad.webp" class="img-fluid img-testimonial" alt="akash_azad">
                              <span class="small ">&nbsp;&nbsp;Akash Aazad - 
                              <cite class="font-weight-bold">Musician</cite>
                              </span>
                          </footer>
    
                      </blockquote>
                  </div>
              </div>
              </div>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                    <blockquote class=" ">
    
                      <i class="fa fa-quote-right fa-2x color-q pull-right mt-3 mb-3" aria-hidden="true"></i>
                      <p class=" m-0 text-muted ">
                        It was great learning with digital marketing course. Experienced faculty. Well illustrated contains. Easy techniques of teaching. Thank you.
                      </p>
                      <footer class="blockquote-footer small mt-2 p-1">
                        <img src="assets/images/umma_bose.webp" class="img-fluid img-testimonial" alt="umma_bose">
                          <span class="small">&nbsp;&nbsp;Umma Bose - 
                    <cite class="font-weight-bold">Astrologer</cite>
                  </span>
                      </footer>

                  </blockquote>
                  </div>
              </div>
              </div>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                    <blockquote class=" ">
    
                      <i class="fa fa-quote-right fa-2x color-q pull-right mt-3 mb-3" aria-hidden="true"></i>
                      <p class=" m-0 text-muted ">
                        The course is well-structured, with a logical progression from basic to advanced concepts. However, there were a few instances where I felt a bit overwhelmed by the sheer volume of information in certain modules. A more gradual introduction to complex topics could enhance the learning experience for those new to digital marketing.
                      </p>
                      <footer class="blockquote-footer small mt-2 p-1">
                        <img src="assets/images/ravi_panchal.webp" class="img-fluid img-testimonial" alt="ravi_panchal">
                          <span class="small">&nbsp;&nbsp;Ravi Panchal - 
                    <cite class="font-weight-bold">Web Developer</cite>
                  </span>
                      </footer>

                  </blockquote>
                     
                  </div>
              </div>
              </div>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                      <blockquote class=" ">
    
                          <i class="fa fa-quote-right fa-2x color-q pull-right mt-3 mb-3" aria-hidden="true"></i>
                          <p class=" m-0 text-muted ">
    
                            I recently completed the Digital Marketing Course at Digital Media Hawk, and it exceeded my expectations. Deepak Sir's expertise and engaging teaching style made the learning experience enjoyable and practical. The course structure, real-world case studies, and collaborative environment were standout features. Highly recommend for anyone seeking a comprehensive and hands-on digital marketing education!
                          </p>
                          <footer class="blockquote-footer small mt-2 p-1">
                            <img src="assets/images/aniket_patel.webp" class="img-fluid img-testimonial" alt="aniket_patel">
                              <span class="small">&nbsp;&nbsp;Aniket Patel - 
                        <cite class="font-weight-bold">Email Marketer</cite>
                      </span>
                          </footer>
    
                      </blockquote>
                  </div>
              </div>
              </div>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                      <blockquote class=" ">
    
                          <i class="fa fa-quote-right fa-2x color-q pull-right mt-3 mb-3" aria-hidden="true"></i>
                          <p class=" m-0 text-muted ">
                            One of the best digital marketing course,best in price, best in training. This course provided me all essential resources and knowledge. Thank you
                          </p>
                          <footer class="blockquote-footer small mt-2 p-1">
                            <img src="assets/images/biswajit.webp" class="img-fluid img-testimonial" alt="biswajit">
                            <span class="small">&nbsp;&nbsp;Biswajit - 
                              <cite class="font-weight-bold">Astrologer</cite>
                            </span>
                          </footer>
                      </blockquote>
                  </div>
              </div>
              </div>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                      <blockquote class=" ">
    
                          <i class="fa fa-quote-right fa-2x color-q pull-right mt-3 mb-3" aria-hidden="true"></i>
                          <p class=" m-0 text-muted ">
                            It is an amazing course ❤! I have improved my Digital Marketing HRM portfolio with the help of the resources provided. I have not taken my free domain because I don't know what I plan to do with it. I think I might use it in in the future.
                          </p>
                          <footer class="blockquote-footer small mt-2 p-1">
                            <img src="assets/images/profile_singer.jpg" class="img-fluid img-testimonial" alt="Vasundharaa">
                            <span class="small">&nbsp;&nbsp;Vasundhara - 
                              <cite class="font-weight-bold">Singer</cite>
                            </span>
                          </footer>
                      </blockquote>
                  </div>
              </div>
              </div>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                      <blockquote class=" ">
    
                          <i class="fa fa-quote-right fa-2x color-q pull-right mt-3 mb-3" aria-hidden="true"></i>
                          <p class=" m-0 text-muted ">
                            While this course is priced at the higher end, the value it delivers justifies the investment. The extensive resources, ongoing support, and lifetime access to updated content make it a worthwhile long-term investment for anyone serious about mastering digital marketing.
                          </p>
                          <footer class="blockquote-footer small mt-2 p-1">
                            <img src="assets/images/abhishek_sharma.webp" class="img-fluid img-testimonial" alt="abhishek_sharma">
                            <span class="small">&nbsp;&nbsp;Abhishek Sharma - 
                              <cite class="font-weight-bold">Sales Team Leader</cite>
                            </span>
                          </footer>
                      </blockquote>
                  </div>
              </div>
              </div>
              <div class="col">
                <div class="card mb-4">
                  <div class="card-body">
                      <blockquote class=" ">
    
                          <i class="fa fa-quote-right fa-2x color-q pull-right mt-3 mb-3" aria-hidden="true"></i>
                          <p class=" m-0 text-muted ">
                            The course is well-structured, with a logical progression from basic to advanced concepts. However, there were a few instances where I felt a bit overwhelmed by the sheer volume of information in certain modules. A more gradual introduction to complex topics could enhance the learning experience for those new to digital marketing.
                          </p>
                          <footer class="blockquote-footer small mt-2 p-1">
                            <img src="assets/images/nishant_bisht.webp" class="img-fluid img-testimonial" alt="nishant_bisht">
                            <span class="small">&nbsp;&nbsp;Nishant Bisht - 
                              <cite class="font-weight-bold">Interior Designer</cite>
                            </span>
                          </footer>
                      </blockquote>
                  </div>
              </div>
              </div>
      </div>
      </section>
    </div>
  </Testimonials>



  <c-highlight>
    <div class="highlight">
      <div class="container">
        <h2>What does <span>Digital Media Hawk</span> teach you?</h2>

        <!-- Modal -->


        <div class="courses">
          <div class="course html" tabindex="1">
            <div class="course-info">
              <span>Module 1</span>
              <h5>Foundation</h5>
              <a type="button" data-bs-toggle="modal" data-bs-target="#module1">Chapters <i
                  class="fas fa-chevron-right"></i></a>
            </div>
            <div class="course-more">
              <!-- <h2 class="name">Foundation</h2> -->
              <div class="details">
                <ul>
                  <li>Foundation of Marketing</li>
                  <li>Conducting Market Research</li>
                  <li>Understanding Consumer Behaviour</li>
                </ul>
                <h5>Module 1</h5>
              </div>
              <!-- <a class="chapters" href="#" tabindex="3">Chapters <i class="fas fa-chevron-right"></i></a>
            <a class="continue-btn html" tabindex="4" href="#">Continue</a> -->
            </div>
          </div>
        </div>

        <div class="modal fade" id="module1" tabindex="-1" aria-labelledby="module1" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="module1">Module 1: <span class="bg-span">Foundation</span></h5>
              </div>
              <div class="modal-body">
                <section>
                  <div class="accordian">
                    <div class="accordian_head">
                      <div class="accordian_toggler">+</div>
                      <span class="accordian_title">Foundation of Marketing</span>
                    </div>
                    <div class="accordian_body">
                      <p class="accordian_description">
                        <span>🔰 The Definition of Marketing</span><br>
                        <span>🔰 Planning, Developing and Deploying Marketing Strategies</span>
                      </p>
                    </div>
                  </div>
                  <div class="accordian">
                    <div class="accordian_head">
                      <div class="accordian_toggler">+</div>
                      <span class="accordian_title">Conducting Market Research</span>
                    </div>
                    <div class="accordian_body">
                      <p class="accordian_description">
                        <span>🔰 Scope of Market Research</span><br>
                        <span>🔰 Conducting Marketing Research</span><br>
                        <span>🔰 Collecting Information or Data</span><br>
                        <span>🔰 Business/Competitor Research</span><br>
                        <span>🔰 Keywords Research</span>
                      </p>
                    </div>
                  </div>
                  <div class="accordian">
                    <div class="accordian_head">
                      <div class="accordian_toggler">+</div>
                      <span class="accordian_title">Understanding Consumer Behaviour</span>
                    </div>
                    <div class="accordian_body">
                      <p class="accordian_description">
                        <span>🔰 Consumer Analysis</span><br>
                        <span>🔰 Business Analysis</span><br>
                        <span>🔰 Competitors’ Analysis</span>
                      </p>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>

        <div class="courses">
          <div class="course html" tabindex="1">
            <div class="course-info">
              <span>Module 2</span>
              <h5>Marketing</h5>
              <a type="button" data-bs-toggle="modal" data-bs-target="#module2">Chapters <i
                  class="fas fa-chevron-right"></i></a>
            </div>
            <div class="course-more">
              <!-- <h2 class="name">Foundation</h2> -->
              <div class="details">
                <ul>
                  <li>Search Engine Optimization</li>
                  <li>Social Media Marketing</li>
                  <li>Email Marketing</li>
                </ul>
                <h5>Module 2</h5>
              </div>
              <!-- <a class="chapters" href="#" tabindex="3">Chapters <i class="fas fa-chevron-right"></i></a>
            <a class="continue-btn html" tabindex="4" href="#">Continue</a> -->
            </div>
          </div>
        </div>

        <div class="modal fade" id="module2" tabindex="-2" aria-labelledby="module2" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="module1">Module 2: <span class="bg-span">Marketing</span></h5>
              </div>
              <div class="modal-body">
                <section>
                  <div class="accordian">
                    <div class="accordian_head">
                      <div class="accordian_toggler">+</div>
                      <span class="accordian_title">Search Engine Optimization</span>
                    </div>
                    <div class="accordian_body">
                      <p class="accordian_description">
                        <span>🔰 The Definition of SEO</span><br>
                        <span>🔰 How Does Google Search Work?</span><br>
                        <span>🔰 ‘Google-Famous’ Algorithms</span><br>
                        <span>🔰 On-Page SEO</span><br>
                        <span>🔰 Off-Page SEO</span><br>
                        <span>🔰 Website Analysis</span><br>
                        <span>🔰 SEO Ranking Methodologies</span><br>
                        <span>🔰 Backlinks</span>
                      </p>
                    </div>
                  </div>
                  <div class="accordian">
                    <div class="accordian_head">
                      <div class="accordian_toggler">+</div>
                      <span class="accordian_title">Social Media Marketing</span>
                    </div>
                    <div class="accordian_body">
                      <p class="accordian_description">
                        <span>🔰 Facebook</span><br>
                        <span>🔰 Instagram</span><br>
                        <span>🔰 Linkedin</span><br>
                        <span>🔰 Youtube</span><br>
                        <span>🔰 Pinterest</span>
                      </p>
                    </div>
                  </div>
                  <div class="accordian">
                    <div class="accordian_head">
                      <div class="accordian_toggler">+</div>
                      <span class="accordian_title">Email Marketing</span>
                    </div>
                    <div class="accordian_body">
                      <p class="accordian_description">
                        <span>🔰 Understanding Email Marketing</span><br>
                        <span>🔰 How to use Email Templates?</span><br>
                        <span>🔰 How to bring Sales to the business?</span>
                      </p>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>

        <div class="courses">
          <div class="course html" tabindex="1">
            <div class="course-info">
              <span>Module 3</span>
              <h5>Content Curation</h5>
              <a type="button" data-bs-toggle="modal" data-bs-target="#module3">Chapters <i
                  class="fas fa-chevron-right"></i></a>
            </div>
            <div class="course-more">
              <!-- <h2 class="name">Foundation</h2> -->
              <div class="details">
                <ul>
                  <li>Content Marketing</li>
                  <li>Blogging</li>
                  <li>Video or Reels</li>
                </ul>
                <h5>Module 3</h5>
              </div>
              <!-- <a class="chapters" href="#" tabindex="3">Chapters <i class="fas fa-chevron-right"></i></a>
            <a class="continue-btn html" tabindex="4" href="#">Continue</a> -->
            </div>
          </div>
        </div>

        <div class="modal fade" id="module3" tabindex="-1" aria-labelledby="module3" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="module1">Module 3: <span class="bg-span">Content Curation</span></h5>
              </div>
              <div class="modal-body">
                <section>
                  <div class="accordian">
                    <div class="accordian_head">
                      <div class="accordian_toggler">+</div>
                      <span class="accordian_title">Content Marketing</span>
                    </div>
                    <div class="accordian_body">
                      <p class="accordian_description">
                        <span>🔰 The Importance of Content in Websites.</span><br>
                        <span>🔰 How Do Keywords Help Website Ranking?</span>
                      </p>
                    </div>
                  </div>
                  <div class="accordian">
                    <div class="accordian_head">
                      <div class="accordian_toggler">+</div>
                      <span class="accordian_title">Blogging</span>
                    </div>
                    <div class="accordian_body">
                      <p class="accordian_description">
                        <span>🔰 Creating your first Blog</span><br>
                        <span>🔰 How to create a Monthly Roadmap for Blogs?</span>
                      </p>
                    </div>
                  </div>
                  <div class="accordian">
                    <div class="accordian_head">
                      <div class="accordian_toggler">+</div>
                      <span class="accordian_title">Video or Reels</span>
                    </div>
                    <div class="accordian_body">
                      <p class="accordian_description">
                        <span>🔰 How to create effective reels/videos?</span><br>
                        <span>🔰 How to Build a Monthly Content Calendar?</span>
                      </p>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>

        <div class="courses">
          <div class="course html" tabindex="1">
            <div class="course-info">
              <span>Module 4</span>
              <h5>Advertising</h5>
              <a type="button" data-bs-toggle="modal" data-bs-target="#module4">Chapters <i
                  class="fas fa-chevron-right"></i></a>
            </div>
            <div class="course-more">
              <!-- <h2 class="name">Foundation</h2> -->
              <div class="details">
                <ul>
                  <li>Google Ads</li>
                  <li>Facebook Ads</li>
                </ul>
                <h5>Module 4</h5>
              </div>
              <!-- <a class="chapters" href="#" tabindex="3">Chapters <i class="fas fa-chevron-right"></i></a>
            <a class="continue-btn html" tabindex="4" href="#">Continue</a> -->
            </div>
          </div>
        </div>

        <div class="modal fade" id="module4" tabindex="-1" aria-labelledby="module4" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="module1">Module 4: <span class="bg-span">Advertising</span></h5>
              </div>
              <div class="modal-body">
                <section>
                  <div class="accordian">
                    <div class="accordian_head">
                      <div class="accordian_toggler">+</div>
                      <span class="accordian_title">Google Ads</span>
                    </div>
                    <div class="accordian_body">
                      <p class="accordian_description">
                        <span>🔰 Introduction to Google Ads</span><br>
                        <span>🔰 Understanding the Ad Tools</span><br>
                        <span>🔰 Setting up a Campaign</span><br>
                        <span>🔰 Selecting your Audience</span><br>
                        <span>🔰 Location-based targeting</span><br>
                        <span>🔰 Language-based targeting</span><br>
                        <span>🔰 Budget and Bidding</span><br>
                        <span>🔰 Ad Scheduling</span><br>
                        <span>🔰 Sitelink Extensions</span><br>
                        <span>🔰 Ads Rules</span><br>
                        <span>🔰 Conversion tracking</span><br>
                        <span>🔰 Keyword Research</span><br>
                        <span>🔰 Keyword Planning</span><br>
                        <span>🔰 Negative keywords</span><br>
                        <span>🔰 Results and Analysis</span>

                      </p>
                    </div>
                  </div>
                  <div class="accordian">
                    <div class="accordian_head">
                      <div class="accordian_toggler">+</div>
                      <span class="accordian_title">Facebook Ads</span>
                    </div>
                    <div class="accordian_body">
                      <p class="accordian_description">
                        <span>🔰 Creating FB Campaigns</span><br>
                        <span>🔰 Building Audience</span><br>
                        <span>🔰 Creating Catalogs</span><br>
                        <span>🔰 Integrating FB Pixels with website and catalog</span><br>
                        <span>🔰 Budget and Bidding</span><br>
                        <span>🔰 Ad Optimization</span><br>
                        <span>🔰 Results and Analysis</span>
                      </p>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>

        <div class="courses">
          <div class="course html" tabindex="1">
            <div class="course-info">
              <span>Module 5</span>
              <h5>Web Development</h5>
              <a type="button" data-bs-toggle="modal" data-bs-target="#module5">Chapters <i
                  class="fas fa-chevron-right"></i></a>
            </div>
            <div class="course-more">
              <!-- <h2 class="name">Foundation</h2> -->
              <div class="details">
                <ul>
                  <li>Introduction to WordPress</li>
                  <li>Essentials of HTML</li>
                  <li>CSS: The Very Basics</li>
                </ul>
                <h5>Module 5</h5>
              </div>
              <!-- <a class="chapters" href="#" tabindex="3">Chapters <i class="fas fa-chevron-right"></i></a>
            <a class="continue-btn html" tabindex="4" href="#">Continue</a> -->
            </div>
          </div>
        </div>

        <div class="modal fade" id="module5" tabindex="-1" aria-labelledby="module5" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="module5">Module 5: <span class="bg-span">Web Development Basics</span></h5>
              </div>
              <div class="modal-body">
                <section>
                  <div class="accordian">
                    <div class="accordian_head">
                      <div class="accordian_toggler">+</div>
                      <span class="accordian_title">WordPress</span>
                    </div>
                    <div class="accordian_body">
                      <p class="accordian_description">
                        <span>🔰 WordPress basic Introduction</span><br>
                        <span>🔰 Installing WordPress</span><br>
                        <span>🔰 Installing a WP Theme</span><br>
                        <span>🔰 Set your Website Title</span><br>
                        <span>🔰 Set your Homepage</span><br>
                        <span>🔰 Creating Pages and Posts</span><br>
                        <span>🔰 Customization</span><br>
                        <span>🔰 Elementor</span>
                      </p>
                    </div>
                  </div>
                  <div class="accordian">
                    <div class="accordian_head">
                      <div class="accordian_toggler">+</div>
                      <span class="accordian_title">Essentials of HTML</span>
                    </div>
                    <div class="accordian_body">
                      <p class="accordian_description">
                        <span>🔰 Understanding the Basics of HTML</span><br>
                        <span>🔰 Understanding Forms/Tables</span><br>
                        <span>🔰 HTML Quiz</span>
                      </p>
                    </div>
                  </div>
                  <div class="accordian">
                    <div class="accordian_head">
                      <div class="accordian_toggler">+</div>
                      <span class="accordian_title">CSS: The Very Basics</span>
                    </div>
                    <div class="accordian_body">
                      <p class="accordian_description">
                        <span>🔰 What is CSS?</span><br>
                        <span>🔰 Color Properties</span><br>
                        <span>🔰 ID/Class selectors</span><br>
                        <span>🔰 CSS Box Model</span><br>
                        <span>🔰 Responsive CSS</span>
                      </p>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>

        <div class="courses">
          <div class="course html" tabindex="1">
            <div class="course-info">
              <span>Module 6</span>
              <h5>Analysis</h5>
              <!-- <a href="#" tabindex="2">Chapters <i class="fas fa-chevron-right"></i></a> -->
            </div>
            <div class="course-more">
              <!-- <h2 class="name">Foundation</h2> -->
              <div class="details">
                <ul>
                  <li>Google Analytics 4</li>
                  <li>Facebook Pixel</li>
                  <li>Google Search Console</li>
                  <li>SEO Tools</li>
                </ul>
                <h5>Module 6</h5>
              </div>
              <!-- <a class="chapters" href="#" tabindex="3">Chapters <i class="fas fa-chevron-right"></i></a> -->
              <!-- <span class="continue-btn html" tabindex="4" href="#">Module 6</span> -->
            </div>
          </div>
        </div>
        <!-- <div class="highlight-point">
        <div class="row">
          <div class="col-10 col-md-5 perks">
            <i class="fa-regular fa-lightbulb"></i>
            <h4>Brainstorm ideas</h4>
            <p>Relevant post ideas at the click of a button.</p>
          </div>
          <div class="col-10 col-md-5 perks">
            <i class="fa-regular fa-lightbulb"></i>
            <h4>Brainstorm ideas</h4>
            <p>Relevant post ideas at the click of a button.</p>
          </div>
          <div class="col-10 col-md-5 perks">
            <i class="fa-regular fa-lightbulb"></i>
            <h4>Brainstorm ideas</h4>
            <p>Relevant post ideas at the click of a button.</p>
          </div>
          <div class="col-10 col-md-5 perks">
            <i class="fa-regular fa-lightbulb"></i>
            <h4>Brainstorm ideas</h4>
            <p>Relevant post ideas at the click of a button.</p>
          </div>
        </div>
      </div> -->



      </div>
    </div>
  </c-highlight>


  <section-price>
    <div class="price mt-5">
      <div class="container">
        <h3 class="text-center">Pick Your Perfect Plan <i class="fa-solid fa-tag"></i></h3>
        <div class="price-row row">
          <div class="col-12 col-lg-4 col-md-6 price-col">
            <h3 class="text-center">Customize Digital Marketing Course</h3>
            <p class="text-center">Customize your marketing modules as per your interest and become a Digital Marketing
              Expert now. </p>
            <div class="text-center">
              <button type="button" class="btn btn-primary btn-lg"><a class="text-white"
                  href="https://rzp.io/l/lUembDD" target="_blank">Enroll Now</a></button>
            </div>
            <div class="price-para">
              <h3>₹5,000*</h3>
              <!-- <p>Registeration fee: ₹1000</p> -->
            </div>
            <ul>
              <li>1 Month</li>
              <li>2 + 1 Modules</li>
              <li>Certificate</li>
            </ul>
          </div>
          <div class="col-12 col-lg-4 col-md-6 price-col">
            <h3 class="text-center">Online Digital Marketing <br>Course</h3>
            <p class="text-center">Become a Digital Marketing Expert by learning everything about Marketing in our
              Online Class Zone. </p>
            <div class="text-center">
              <button type="button" class="btn btn-primary btn-lg"><a class="text-white"
                  href="https://rzp.io/l/zY7RvZIvVL" target="_blank">Enroll Now</a></button>
            </div>
            <div class="price-para">
              <h3>₹20,999</h3>
              <p>Registeration fee: ₹1000</p>
            </div>
            <ul>
              <li>3 Months</li>
              <li>6 Modules</li>
              <li>Certificate</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section-price>




  <section-wsl>
    <div class="container wsl-section">
      <h3 class="text-center fs-1 fw-bold">Who should enroll into <span>Digital Marketing Course</span> ?</h3>
      <p class="wsl-p text-center mt-5">
        The Advanced Digital Marketing Course will equip participants with a strong foundation in marketing domain or
        build a new career.
      </p>
      <div class="wsl-grid">
        <div class="row row-cols-1 row-cols-lg-4 wsl-grid-flex">
          <div class="col">
            <div class="card">
              <img src="assets/images/wsl1.webp" class="card-img-top img-fluid" alt="Digital Marketing Course 8">
              <div class="card-body">
                <h5 class="card-title my-3">College Students</h5>
                <p>College students wishing to broaden their perspective with digital marketing knowledge and enhace
                  your skills for future opportunities.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/wsl2.webp" class="card-img-top" alt="Digital Marketing Course 9">
              <div class="card-body">
                <h5 class="card-title my-3">Job Seekers</h5>
                <p>Improving your digital knowledge can help you find a job, get promoted, do freelancing, or start a
                  new career. </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/wsl3.webp" class="card-img-top" alt="Digital Marketing Course 10">
              <div class="card-body">
                <h5 class="card-title my-3">Working Professionals</h5>
                <p>Working Professionals desiring to enhance their efficiency with an understanding of digital
                  marketing.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/business-owners.webp" class="card-img-top" alt="Digital Marketing Course 11">
              <div class="card-body">
                <h5 class="card-title my-3">Agency Owners</h5>
                <p>Business Persons or Agency owners who are interested to enhance their Marketing Skills and improve
                  their business presence on the Internet and local. Learn, Execute and get desired results on real-time
                  basis. </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/coaches.webp" class="card-img-top" alt="Digital Marketing Course 12">
              <div class="card-body">
                <h5 class="card-title my-3">Coaches</h5>
                <p>Learn the art of marketing your coaching institute or YouTube channel with our experimented marketing
                  strategies. Focus on building a good portfolio, improving content marketing, and earning students
                  trust.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/images/freelancer.webp" class="card-img-top" alt="Digital Marketing Course 13">
              <div class="card-body">
                <h5 class="card-title my-3">Freelancers</h5>
                <p>Candidates who are interested in upskilling should enroll in the trending marketing and web design
                  courses which pay a good amount. Earn money from part-time jobs or build a future in the Marketing
                  domain.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section-wsl>

  <!-- <section-wcu>
    <div class="container-fluid wcu img-fluid">
      <div class="wcu-section">
        <div class="container">
          <div class="heading-wcu">
            <h2 class="text-center fs-1 fw-bold">Why you choose <span>Digital Marketing Course</span> ?</h2>
            <p class="wcu-p mt-5">Digital Media Hawk, has been a leader in the field of marketing. We offer disciplinary
              learning and research marketing programs to ensure that you are aimed at advancing fundamental
              understanding to solve real-life problems. </p>
          </div>
        </div>
        <div class="overlay-play">
          <img class="wcu-img" src="assets/images/wcu-section.avif" alt="Digital Marketing Course 14" class="img-fluid">
          <a href="http://youtube.com" target="_blank"><i class="fa fa-play"></i></a>
        </div>
      </div>
    </div>
  </section-wcu> -->


  <section-extra id="cc">
    <div class="container extra">
      <div class="row extra-flex">
        <div class="col-lg-6 col-md-6">
          <img src="assets/images/cc-section-2.webp" alt="extra" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="extra-caption">
            <p>This is not it.</p>
          </div>
          <div class="extra-body">
            <h2 class="fs1 fw-bold mb-5">Walk into the future of online business automation.</h2>
            <p>Helping yourself and others with your digital marketing skills is something astounding. But, you are
              preparing for the digital revolution with Digital Marketing knowledge. Be more informed and efficient with
              our curated course. </p>
          </div>
        </div>
      </div>
      <div class="row extra-grid">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12">
          <div class="extra-grid-inner">
            <img src="assets/images/cc-1.webp" alt="certificate">
            <h3>Industry approved certification</h3>
            <p class="wcu-p">Digital Media Hawk’s Digital Marketing Certification is credible both personally and
              professionally. We are industry-recognized.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12">
          <div class="extra-grid-inner">
            <img src="assets/images/cc-2.webp" alt="practical">
            <h3>Practical Implementation procedures</h3>
            <p class="wcu-p">Digital Media Hawk’s Digital Marketing Course teaches you practical ways to implement the
              skills you learn, providing result assurance.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-12">
          <div class="extra-grid-inner">
            <img src="assets/images/cc-3.webp" alt="tested">
            <h3>Market-tested and proven methodologies</h3>
            <p class="wcu-p">Digital Media Hawk’s Digital Marketing Course teaches you the skills tested and profited
              from in real market scenarios.</p>
          </div>
        </div>
      </div>
    </div>
  </section-extra>

  <certificate>
    <div class="certificate">
      <div class="container">
        <h2 class="text-center">Get Certified By Digital Media Hawk</h2>
        <p class="text-center">Publishing content on all of your channels shouldn’t be a time-drain. Plan and publish on
          every channel in one simple-to-use dashboard.</p>
        <img src="assets/images/certificate.webp" alt="certificate-main" class="img-fluid">
      </div>
    </div>
  </certificate>

 
  

  <meet-trainer>
    <div class="meet">
      <div class="container">
        <div class="wsl-section">
          <h2 class="text-center mb-5 fs-1 fw-bold">Meet Our <span class="bg-span">Trainers</span></h2>
        </div>
        <div class="row justify-content-center meet-flex">
          <div class="col meet-col">
            <img src="assets/images/4.png" class="img-fluid" alt="trainer-1">
          </div>
          <div class="col-12 col-md-12 col-lg-6 meet-col">
            <div class="extra-caption mt-5">
              <p>Know Your Trainer</p>
            </div>
            <h4>Deepak Kaushik <a href="https://www.linkedin.com/in/kd-deepak/"><i
                  class="fa-brands fa-linkedin"></i></a></h4>
            <p>He is Deepak Kaushik, the founder of Digital Media Hawk. Digital Media Hawk is digital marketing agency
              that helps business to scale their business on the Internet by developing an effective digital marketing
              strategies that will increase their sales and revenue and build their business to Brands. </p>

            <p>He had pursued his Marketing from IIM Indore, which gives him a deep understanding of marketing and
              e-commerce strategies. </p>

            <p>He will be responsible in developing a clear mindset about Marketing in your minds so that you can focus
              on building products and services that will help you reach more customers than ever before.</p>
          </div>
        </div>

        <div class="row mt-5 justify-content-center meet-flex">
          <div class="col-12 col-md-12 col-lg-8 order-2 order-lg-1 meet-col">
            <div class="extra-caption mt-5">
              <!-- <p>Know Your Trainer</p> -->
            </div>
            <h4>Vikash Choudhary <a href="https://www.linkedin.com/in/vikash-choudhary-aba567114/"><i
                  class="fa-brands fa-linkedin"></i></a></h4>
            <p>Vikash is a digital marketing professional with 8+ years experience. He has worked in the IT industry for
              over 8 years and holds a Bachelor's degree in Computer Application and a Post Graduate Diploma in
              Marketing.

              Vikash has been involved in digital transformation and paid ad campaign management as well as customer
              experience transformation, SEO and web analytics strategies.

              He is skilled at providing solutions to clients that are looking to grow their business through digital
              channels.</p>
          </div>
          <div class="col order-1 order-lg-2 text-center meet-col">
            <img src="assets/images/trainer-2.webp" class="img-fluid trainer-vikas" alt="trainer-2">
          </div>
        </div>

        <div class="row mt-5 justify-content-center meet-flex">
          <div class="col mt-4 text-center meet-col">
            <img src="assets/images/trainer-3.webp" class="img-fluid trainer-vikas" alt="trainer-3">
          </div>
          <div class="col-12 col-md-12 col-lg-8 meet-col">
            <div class="extra-caption mt-5">
              <!-- <p>Know Your Trainer</p> -->
            </div>
            <h4>Gagandeep Singh <a href="https://www.linkedin.com/in/gagan-deep-singh-3ab208178/"><i
                  class="fa-brands fa-linkedin"></i></a></h4>
            <p>He is a versatile web developer with a passion for teaching and sharing his knowledge with others. With
              several years of experience in web development, he have honed his skills in front-end as well as back-end
              technologies. His expertise lies in HTML, CSS, JavaScript, and React. He strongly believe in utilizing the
              power of technology to enhance the learning experience of students. Through his effective communication
              skills and ability to simplify complex concepts, he strive to create an engaging and interactive learning
              environment for his students.</p>
          </div>
        </div>

      </div>
    </div>
  </meet-trainer>


  <section-faq>
    <div class="container faq">
      <h2 class="text-center fs-1 fw-bold">FAQ'S</h2>
      <div class="accordion" id="accordionExampleY">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseOne">
                <span>1</span>Do you assist with a Job after completing the Digital Marketing Course?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">
                Yes, there are many upcoming jobs in the marketing domain. We will suggest you for upcoming jobs in
                digital marketing, tourism, hospitality, the real estate sector, and education institutes and you can
                approach there for an Interview. .
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                <span>2</span>Do I need a computer system?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                Yes, you must have a good-performing computer system. It is helpful to work and learn anytime you wish.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                <span>3</span>
                Do I get practical exposure to marketing? </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                Yes definitely. We have designed our course on theoretical and practical approaches. We will be working
                on live projects and experiencing the key factors of marketing. Also, you will be taught real business
                case studies for a better understanding of the marketing domain.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                <span>4</span>
                Do I get a certificate?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body">
                After completing the advanced digital marketing course, assignments, and exams you will be offered a
                recognized certificate from Digital Media Hawk company.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                <span>5</span>
                I'm a Business Owner. How digital marketing course can help me?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingFive">
              <div class="accordion-body">
                Digital Marketing course is beneficial for every business owner. You can execute the marketing
                strategies and create more awareness on social media, build a brand, and generate quality leads for more
                sales online.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                <span>6</span>
                I'm pursuing a UG course. Can I join this course?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingSix">
              <div class="accordion-body">
                There are no criteria for learning this marketing course. You can join this course while pursuing UG/PG
                course.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                <span>7</span>
                What happens If I miss any class?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingSeven">
              <div class="accordion-body">
                No need to worry. You can join or retake the missed class. You must notify the marketing trainer and
                they will arrange a re-take class for you.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingEight">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                <span>8</span>
                Who can Join the Digital Marketing Course program?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingEight">
              <div class="accordion-body">
                Everyone can join the Digital Marketing Course Programme. It is more helpful for persons who are working
                executives, seeking jobs or freelancing, developing or starting a new career, and business owners who
                wish to scale their business online.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingNine">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                <span>9</span>
                What are the eligibility criteria for this course?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingNine">
              <div class="accordion-body">
                You must have a 12th pass-out certificate. Also, if you've completed the UG/PG Course, then you must
                join this course.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section-faq>

  <section-contact>
    <div class="contact-us section" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="contact-us-content">
              <div class="row">
                <div class="col-lg-4">
                  <div id="map">
                    <a href="https://goo.gl/maps/oXe81jqD5Fkf84WH8" target="_blank">
                      <img src="assets/images/map.webp" width="100%" height="670px" frameborder="0"
                        style="border:0; border-radius: 23px;" allowfullscreen=""></img>
                    </a>
                  </div>
                </div>
                <div class="col-lg-8">
                  <form id="contact-form" action="sendemail-contact.php" method="post">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="section-heading">
                          <h2>Contact Us For <span>Digital Marketing Course</span></h2>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <fieldset>
                          <input type="name" name="name" id="name" placeholder="Your Full Name..." autocomplete="on"
                            required>
                        </fieldset>
                      </div>
                      <div class="col-lg-6">
                        <fieldset>
                          <input type="businessName" name="businessName" id="businessName"
                            placeholder="Business Name..." autocomplete="on" required>
                        </fieldset>
                      </div>
                      <div class="col-lg-6">
                        <fieldset>
                          <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*"
                            placeholder="Your E-mail..." required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-6">
                        <fieldset>
                          <input type="phone" name="phone" id="Phone" pattern="[6-9]{1}[0-9]{9}"
                            placeholder="Phone Number..." autocomplete="on" required>
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <input type="address" name="address" id="address" placeholder="Your Address..."
                            autocomplete="on" required>
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <textarea name="message" id="message" placeholder="Your Message"></textarea>
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <button data-ani="bounceOutRight" type="submit" id="form-submit" class="orange-button">Chalo
                            Udh Chalein</button>
                        </fieldset>
                      </div>
                    </div>
                  </form>
                  <div class="more-info">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="info-item">
                          <i class="fa fa-phone"></i>
                          <h4><a href="tel:+919817853556">+91 98178 53556</a></h4>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="info-item">
                          <i class="fa fa-envelope"></i>
                          <h4><a href="mailto:contact@digitalmediahawk.com">contact@digitalmediahawk.com</a></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section-contact>


<!-- footer start -->

<footer>
    <div class="container">
      <div class="col-lg-12">
        <div class="line-dec"></div>

        <p>Copyright © 2019-2024. All rights reserved. Brought to you by Digital Media Hawk with ❤️
        
        </p>
      </div>
    </div>
  </footer>

  <div class="pre-header pre-header-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="left-info">
            <ul>
              <li><a href="privacy-policy" target="_blank">Privacy Policy</a></li>
              <li><a href="disclaimer" target="_blank">Disclaimer</a></li>
              <li><a href="t&c" target="_blank">Terms & Conditions</a></li>
              <li><a href="refund-policy" target="_blank">Refund Policy</a></li>
              <li><a href="https://digitalmediahawk.com/#about" target="_blank">About Us</a></li>
              <li><a href="mailto:contact@digitalmediahawk.com"><i class="fa fa-envelope"></i>contact@digitalmediahawk.com</a></li>
              <li><a href="https://wa.me/+919817853556" target="_blank"><i class="fa fa-phone"></i>+91 98178 53556</a></li> 
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>


</script>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
 <script>
   $( document ).ready(function() {
    var success = "<%= success %>";
    var error = "<%= error %>";
    console.log(error);
    if(error || success){
      $('#modal-button').click();
      console.log("check");
      }
    });
 </script>
 <script>
  function startCountdown(targetDate, elementId, link, price) {
    // Set the date we're counting down to
    var countDownDate = new Date(targetDate).getTime();
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get today's date and time
      var now = new Date().getTime();
        
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
        
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        
        // Output the result in an element with id
      const countdownElement = document.getElementById(elementId);
      countdownElement.innerHTML =  `Offer ends in ${days}d ${hours}h ${minutes}m ${seconds}s`;

      // document.getElementById("hour-number-cta").innerHTML =  hours;
    
      // document.getElementById("minute-number-cta").innerHTML = minutes ;
    
      // document.getElementById("second-number-cta").innerHTML = seconds;
        
      // If the count down is over, write some text 
      if (distance < 0) {
        clearInterval(x);
        document.getElementById(elementId).innerHTML = "";
        // document.getElementById(link).href = "javascript:void(0);";
        // document.getElementById(price).innerHTML = "499";
      }
    }, 1000);
  }

  // Start the countdown for the first div
  startCountdown("Jan 20, 2024 20:00:00", "timer1", "a-link1", "price-change1");

  // Start the countdown for the second div
  startCountdown("Jan 20, 2024 20:00:00", "timer2", "a-link2", "price-change2");

</script>
  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/custom.js"></script>
  <script src="assets/js/custom1.js"></script>
  </body>
</html>

<!-- footer end -->