<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Refund Policy - Digital Media Hawk</title>
    <meta name="author" content="Digital Media Hawk">
    <meta name="title" content="Digital Media Hawk - Refund">
    <meta name="description" content="Read our Refund page before surfing Digital Media Hawk website. This page guide you the refund policy of our website. "/>

<%-include("./partials/header")%>

<div class="page-heading tnc">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 align-self-center responsive">
          <div class="caption  header-text">
            <h6>Digital Media Hawk</h6>
            <div class="line-dec"></div>
            <h1><em>Refund</em> & <em>Cancellation</em> Policy</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container privacy-policy">

    <h4><strong>Cancellation Policy</strong></h4>
    
    <p>This page was last updated on <strong>29th May 2023</strong>.</p>
    <p><strong>Digital Media Hawk</strong> believes in helping its customers as far as possible and has, therefore, a liberal cancellation policy. Under this policy:</p>
    <div class="list-tc-2">
      <ul>
        <li> Cancellations will be considered only if the request is made within 3 days of placing an order. However, the cancellation request will not be entertained if the orders have been completed or if we have initiated the process of shipping either ourselves or through the vendors/merchants/ representatives whom we may appoint from time to time.</li>
        <li> No cancellations and refunds are entertained for those courses and products that the <strong>Digital Media Hawk</strong> marketing team has given special offers on for various purposes including but not limited to special occasions or days like Holi, Diwali, Valentine's Day, etc. These are limited-occasion offers and therefore cancellations are not possible.</li>
        <li> In case you feel that the course or any product received is unsuitable as per your expectations, you must bring it to the notice of our marketing team within 3 days of receiving the product. The Customer Service Team after looking into your complaint will take an appropriate decision.</li>
      </ul>

    </div>

    <h4><strong>Refund Policy</strong></h4>
    <p>There is a partial refund policy we have introduced for our customers: </p>
    <div class="list-tc-2">
      <ul>
        <li> A refund would proceed only in case if you have made a payment more than once for the same course.</li>
        <li> Within 3 days of buying a course, if you wish to discontinue the course, then we would give you 60% returns directly to your same bank accounts/UPI id/Debit or Credit Cards. </li>
        <li> No refunds will proceed after completing the 3 days after buying any course. </li>
        <li>After attending 3 days, if you wish to discontinue this course, then we will not entertain the cancellation and refunds of the same course.</li>
      </ul>
    </div>
    <p>Please note that the payment process might take <strong>15 days</strong> after the request is approved. It is advisable to read our website <a href="https://course.digitalmediahawk.com/privacy-policy" target="_blank">Privacy Policy</a>, <a href="https://course.digitalmediahawk.com/t&c" target="_blank">Terms & Conditions policies</a> before purchasing any course. </p>
</div>


<%-include("./partials/footer")%>