<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Refund Policy - Digital Media Hawk</title>
    <meta name="author" content="Digital Media Hawk">
    <meta name="title" content="Digital Media Hawk - Refund">
    <meta name="description" content="Read our Refund page before surfing Digital Media Hawk website. This page guide you the refund policy of our website. "/>

<%-include("./partials/header")%>

<div class="page-heading tnc">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 align-self-center responsive">
          <div class="caption  header-text">
            <h6>Digital Media Hawk</h6>
            <div class="line-dec"></div>
            <h1><em>Refund</em> Policy</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container privacy-policy">
    <p>Digital Media Hawk <strong>(DMH ENTERPRISES OPC PVT. LTD.)</strong> ensures that we provide the best quality work and effective digital marketing services to our customers. We provide guaranteed results, and a better experience, and help your business to grow online. We have established a <strong>Cancellation & Refund Policy</strong> for your business.</p>



<p>All our projects begin with a deep understanding of your products/services, complete market research, audience selection, and preparing a roadmap of your work. Our process is simplified and programmed to provide effective results on the Website/App and Digital Marketing Growth. </p>



<p>In no event will be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>



<p>In case, if you are not satisfied with our pricing or services, you can request a cancellation of your service at <a href="mailto:contact@digitalmediahawk.com">contact@digitalmediahawk.com</a> within 3 working days after the contract is signed. </p>



<p>Requests received later than 3 business days before the end of the current service period will be treated as a cancellation.</p>

<p>Here, we have mentioned the scenarios where we cannot refund money: </p>
<ul>
    <li>Advance money on Website Design & Digital Marketing Services is non-refundable</li>
    <li>Once the client approves mock-up designs for websites and we move into the development phase of the project.</li>
    <li>Once the Market Research Surveys started for each Digital Marketing Service, we executed the roadmap for your online business development. </li>
    <li>When our marketing team has offered a special discount or any special occasion services</li>
    <li>After the refund time limit is over. Before 3 business days. </li>
    <li>SEO services, Content writing services, and Google/Social Ads amount are non-refundable.</li>
</ul>

<p><strong>TIME-FRAME FOR REFUNDS</strong></p>

<p>Our Accounting dept. will analyze your transaction and if you have paid by Credit Card or Debit Card, Net Banking, UPI, or from any other Payment Gateway refunds will be issued to the original cardholder or the provided bank information (user name, bank account number, IFSC code) at the time of purchase.</p>

<p>Please note, the refund amount will be transferred to your account within 15 days after the request is approved. In case, if you have not received any refunds, then contact us with the given REFERENCE/COMPLAINT number. </p>

<%-include("./partials/footer")%>