<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Terms & Conditions - Digital Media Hawk</title>
    <meta name="author" content="Digital Media Hawk">
    <meta name="title" content="Digital Media Hawk - Terms & Conditions">
    <meta name="description" content="Read our Terms & Conditions page before surfing Digital Media Hawk website. This page guide you the terms and conditions of our website. "/>

<%-include("./partials/header")%>

<div class="page-heading tnc">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 align-self-center responsive">
          <div class="caption  header-text">
            <h6>Digital Media Hawk</h6>
            <div class="line-dec"></div>
            <h1><em>Terms</em> & <em>Conditions</em></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container privacy-policy">

    <p>This page was last updated on <strong>29th May 2023</strong>.</p>
    <p>Welcome to the <strong>“Digital Media Hawk Course”</strong>  website. </p>
    <p>If you continue to browse and use this website you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern <strong>Digital Media Hawk’s</strong> relationship with you about this website.</p>
    <p>The Digital Media Hawk Course website is a property of <strong>“<a rel="noreferrer noopener" href="https://digitalmediahawk.com/" target="_blank">Digital Media Hawk</a>”</strong> or <strong>“<a rel="noreferrer noopener" href="https://digitalmediahawk.com/" target="_blank">DMH ENTERPRISES</a>”</strong> Company, an Indian Company registered under the Companies Act, 2016.</p>
    <P>The term '<strong>DMH ENTERPRISES</strong>' or '<strong>DIGITAL MEDIA HAWK</strong>' or ‘<strong>OUR WEBSITE</strong>’ or ‘<strong>US</strong>’ or '<strong>WE</strong>' refers to the owner of the website whose registered office is at:<br>  
      <span style="font-size: 17px; font-style: italic;">Digital Media Hawk, 1st Floor, <br>  
        319A/34, Sharma Bhawan, <br>  
        Janta Colony, Rohtak City<br>  
        Haryana – 124001</span>
      </P>
      <p>Our company <strong>CIN</strong> number is <strong>U93090HR2019OPC083765</strong> and our place of registration is Rohtak, Haryana. The term '<strong>you</strong>' refers to the user or viewer of our website.</p>
      

      <h4><strong>The use of this website is subject to the following Terms and Conditions of use:</strong></h4>
      <div class="list-tc-2">
        <ul>
          <li> The content of the pages of this website is for your general information and use only. It is subject to change without notice</li>
          <li> Successful course buys user's consent will be received through emails. Digital Media Hawk Courses Website will provide new updates and exciting offers on the user's registered mobile number/email id by WhatsApp/SMS/Call.</li>
          <li> The inquiry received on ‘our website’ or through incoming calls will be considered as consent for the commercial offers or the service calls in the future through SMS/ WhatsApp or calls through a salesperson.</li>
          <li> Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness, or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
          <li> Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your responsibility to ensure that any products, services, or information available through this website meet your specific requirements.</li>
          <li> This website contains material that is owned by or licensed to us. This material includes but is not limited to, the design, layout, look, appearance, text, website code and graphics. Reproduction is prohibited other than following the copyright notice, which forms part of these terms and conditions.</li>
          <li> All trademarks reproduced in this website that are not the property of, or licensed to, the operator is acknowledged on the website.</li>
          <li> Reselling the ‘our website’ course without its proper consent is prohibited and unauthorized. Any such activity will be considered a violation of copyright act and legal action shall be taken.</li>
          <li> Unauthorized use of this website by you may give rise to a claim for damages and/or be a criminal offense.</li>
          <li> From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We take no responsibility for the content of the linked website(s).</li>
          <li> You may not create a link to this website from another website or document without Digital Media Hawk management's prior consent.</li>
          <li> Your use of this website and any dispute arising out of such use of the website is subject to the laws of India or other regulatory authorities.</li>
          <li> Other Terms: Credit Card/Debit Card/UPI Payments/Net Banking orders will commence on receiving the authorization/confirmation from the Credit Card/respective Payment Gateway companies. We are not responsible for any misuse or payments. </li>
        </ul>
      </div>

      <h4><strong>Content Usage Policy:</strong></h4>
      <div class="list-tc">
        <ol type="1">
          <li> Except as mentioned below, all information, content, material, trademarks, services marks, trade names, and trade secrets including but not limited to the website code, text, images, graphics, video, script, and audio, contained in the Website, Services, and products are proprietary property of the Company (“<a href="https://digitalmediahawk.com" target="_blank"><strong>DMH ENTERPRISES</strong></a>”). No Proprietary Information may be copied, downloaded, reproduced, modified, republished, uploaded, posted, transmitted, or distributed in any way without obtaining prior written permission from the Company.</li>
          <li> Your use of ‘our website’ content, Products and Services is solely for Your personal and non-commercial use. Any use of the Application, Website, Services, or products or their contents other than for personal purposes is prohibited. Your personal and non-commercial use of this Application, Website, products, and/or our Services shall be subjected to the following restrictions:
            <ol type="i">
              <li> You may not decompile, reverse engineer, or disassemble the contents of ‘our website’ and/or Services/ products or modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information to anyone. </li>
              <li>You will not use our website and/or any of our product/s or Service/s for commercial purposes of any kind, or use the Website content in any way that is unlawful or harms the Company or any other person or entity as determined by the Company.</li>
              <li>No User shall be permitted to perform any of the following prohibited activities while availing of our Services:</li>
                <ol type="a">
                  <li> Making available any content that is misleading, unlawful, harmful, threatening, abusive, tortious, defamatory, vulgar, obscene, child-pornographic, lewd, lascivious, profane, invasive of another's privacy, hateful, or racially, ethnically, or otherwise objectionable;</li>
                  <li> Stalking, intimidating, and/or harassing another and/or inciting another to commit violence;</li>
                  <li> Transmitting material that encourages anyone to commit a criminal offense, that results in civil liability or otherwise breaches any relevant laws, regulations, or code of practice;</li>
                  <li> Interfering with any other person's use or enjoyment of the Website;</li>
                  <li> Making, transmitting, or storing electronic copies of materials protected by copyright without the permission of the owner, committing any act that amounts to the infringement of intellectual property, or making available any material that infringes any intellectual property rights or other proprietary rights of anyone else;</li>
                  <li> Make available any content or material that You do not have a right to make available under any law or contractual or fiduciary relationship unless You own or control the rights thereto or have received all necessary consents for such use of the content;</li>
                  <li> Impersonate any person or entity, or falsely state or otherwise misrepresent Your affiliation with a person or entity;
   
                  </li>
                  <li> Post, transmit, or make available any material that contains viruses, trojan horses, worms, spyware, time bombs, cancelbots, or other computer programming routines, code, files, or such other programs that may harm the website, interests, or rights of other users or limit the functionality of any computer software, hardware or telecommunications, or that may harvest or collect any data or personal information about other Users without their consent;
   
                  </li>
                  <li> Access or use of the Website content in any manner that could damage, disable, overburden, or impair any of the Website's servers or the networks connected to any of the servers on which the Website is hosted.
   
                  </li>
                  <li> Intentionally or unintentionally interfere with or disrupt the services or violate any applicable laws related to the access to or use of the Website/Services/products, violate any requirements, procedures, policies or regulations of networks connected to the Website/Services/products, or engage in any activity prohibited by these Terms;
   
                  </li>
                  <li> Disrupt or interfere with the security of, or otherwise cause harm to, the Website/Services/products, materials, systems resources, or gain unauthorized access to user accounts, passwords, servers, or networks connected to or accessible through the Website/Services/products or any affiliated or linked sites;
   
                  </li>
                  <li> Interfere with, or inhibit any user from using and enjoying access to the Website/ Services/products, or other affiliated sites, or engage in disruptive attacks such as denial of service attack on the Website/Services/products;
   
                  </li>
                  <li> Use deep links, page-scrape, robots, spiders, or other automatic devices, programs, algorithms or methodology, or any similar or equivalent manual process, to increase traffic to the Website/Services/products, to access, acquire, copy or monitor any portion of the Website/Services/products, or in any way reproduce or circumvent the navigational structure or presentation or any content, to obtain or attempt to obtain any content, documents or information through any means not specifically made available through the Website/Services/products;
   
                  </li>
                  <li> Alter or modify any part of the Services;
   
                  </li>
                  <li> Use the Services for purposes that are not permitted by: (i) these Terms; and (ii) any applicable law, regulation, or generally accepted practices or guidelines in the relevant jurisdiction; or
   
                  </li>
                  <li> Violate any of the terms specified under the Terms for the use of the Application /Website/Services/products.
   
                  </li>
                </ol>
            </ol>
          </li>
          <li> Successful course purchased user's consent will be received by the <strong>Digital Media Hawk Team</strong>. Digital Media Hawk website will provide new updates and exciting offers on the user's registered mobile number/email id by WhatsApp/Text SMS.</li>
        </ol>
  
      </div>

</div>


<%-include("./partials/footer")%>